Create new goal

<form action="/goal/save" method="POST">
    Title: <input name="title" type="text" /><br/>
    Description: <textarea name="description"></textarea><br/>
    My amount: <input name="amount" type="text" />EUR<br />
    Start date: <input name="start" type="text" /><br />
    Finish date: <input name="finish" type="text" /><br/>
    <input name="submit" type="submit" value="Submit">
</form>



