<div class="container">
<a href="{{ data.url }}">login with FB</a>
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Gain it!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a role="button" href="#" class="btn btn-lg btn-success">Start goal</a><div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div></p>
    </div>

</div>